{% extends 'cadmus/layout.html' %}

{% block title %}
    Password Reset | Cadmus - Personal Diary
{% endblock %}

{% block body %}

<div class="has-text-centered is-size-3">Password Reset</div>
<a class="button is-danger is-light" style="margin-left:2%;margin-top:1%;" href="{% url 'cadmus:settings' %}">&#8592 Back to settings</a>
<div class="authentication" style="margin: auto auto 5% auto;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="button is-danger">Reset password</button>
    </form>
</div>

{% endblock %}