{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}Cadmus - Personal Diary{% endblock %}</title>
	<link href="{% static 'cadmus/styles.css' %}" rel="stylesheet">

	<link rel="shortcut icon" type="image/png" href="{% static 'cadmus/journal-96.png' %}" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
	<div class="container-flex">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<picture>
					<source srcset="{% static 'cadmus/cafe-light.png' %}" media="(prefers-color-scheme: dark)">
					<img src="{% static 'cadmus/cafe-dark.png' %}" width="60" height="60">
				</picture>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{% url 'cadmus:index' %}">
						Home
					</a>
					{% if request.user.is_authenticated %}
					<a class="navbar-item" href="{% url 'cadmus:create' %}">
						Add Entry
					</a>

					{% else %}
					<!--Nothing at all!-->
					{% endif %}
				</div>

				{% if request.user.is_authenticated %}
				<div class="navbar-end">
					<form action="{% url 'cadmus:search_results' %}" method="get">
						<div class="field">
							<div class="control">
								<input class="input" name="q" type="text" placeholder="Search">
							</div>
						</div>
					</form>
					<p class="navbar-item">{{ request.user }}</p>
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-link is-size-5" href="{% url 'cadmus:logout' %}">
								Log out
							</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-danger is-size-5" href="{% url 'cadmus:register' %}">
								Sign up
							</a>
							<a class="button is-link is-size-5" href="{% url 'cadmus:login' %}">
								Log in
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</nav>

		{% block body %}

		{% endblock %}

		<footer class="footer" id="footer">
			<div class="has-text-centered">
				&copy Copyright 2023 by Cadmus
				<br>
				<div>
					<a href="/">Privacy</a>
					<span>|</span>
					<a href="/">Terms and Conditions</a>
					<span>|</span>
					<a href="/">Cookies Policy</a>
				</div>
				<a href="https://www.github.com/cesia-cora" target="_blank">
					<picture>
						<source srcset="{% static 'cadmus/github-night.png' %}" media="(prefers-color-scheme: dark)">
						<img class="mt-2" src="{% static 'cadmus/github-icon.png' %}">
					</picture>
				</a>
			</div>
		</footer>
		<script src="{% static 'cadmus/index.js' %}"></script>
</body>

</html>