{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}Cadmus - Personal Diary{% endblock %}</title>
	<link href="{% static 'cadmus/styles.css' %}" rel="stylesheet">

	<link rel="shortcut icon" type="image/png" href="{% static 'cadmus/journal-96.png' %}" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>

	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
		  
		  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		  </a>
		</div>
	  
		<div id="navbarBasicExample" class="navbar-menu">
		  <div class="navbar-start">
			<a class="navbar-item" href="{% url 'cadmus:index' %}">
			  Home
			</a>
	  
			<a class="navbar-item">
			  Calendar
			</a>

			<a class="navbar-item" href="{% url 'cadmus:create' %}">
				+ New Entry
			</a>
	
		  </div>
	  
		  <div class="navbar-end">
			<div class="navbar-item">
			  <div class="buttons">
				{% if request.user.is_authenticated %}
				<a class="button is-light" href="{% url 'cadmus:logout' %}">
				  Log out
				</a>
				{% else %}
				<a class="button is-light" href="{% url 'cadmus:login' %}">
					Log in
				</a>
				{% endif %}
			  </div>
			</div>
		  </div>
		</div>
	  </nav>

		<div class="index-first-par">
			<div class="has-text-centered is-size-3 has-text-danger"><a href="{% url 'cadmus:index' %}" style="color:black">CADMUS</a></div>
			<br>
			<div class="has-text-centered has-text-light is-size-1">THE SIMPLEST WAY TO WRITE YOUR THOUGHTS</div>
		  </div>

		{% block body %}

		{% endblock %}

		<footer class="footer" id="footer">
			<div class="has-text-centered">
				&copy Copyright 2023-2025 by Cadmus
				<br>
				<div>
					<a href="/">Privacy</a>
					<span>|</span>
					<a href="/">Terms and Conditions</a>
					<span>|</span>
					<a href="/">Cookies Policy</a>
				</div>
				<a href="https://www.github.com/cesia-cora/cadmus" target="_blank">
					<picture>
						<source srcset="{% static 'cadmus/github-night.png' %}" media="(prefers-color-scheme: dark)">
						<img class="mt-2" src="{% static 'cadmus/github-icon.png' %}">
					</picture>
				</a>
			</div>
		</footer>
		<script src="{% static 'cadmus/index.js' %}"></script>
</body>

</html>