{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}Cadmus - Personal Diary{% endblock %}</title>
	<link href="{% static 'cadmus/styles.css' %}" rel="stylesheet">

	<link rel="shortcut icon" type="image/png" href="{% static 'cadmus/journal-96.png' %}" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
	<div class="container-flex">
		<button class="openbtn button is-dark" onclick="openNav()">&#9776;</button>

		<div class="split sidepanel" id="mySidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="centered">
				<aside class="menu">
					{% if request.user.is_authenticated %}
					<form action="{% url 'cadmus:search_results' %}" method="get">
						<div class="field">
							<div class="control">
								<input class="input" name="q" type="text" placeholder="Search">
							</div>
						</div>
					</form>
					{% endif %}
					<br>
					<picture>
						<source srcset="{% static 'cadmus/cafe-light.png' %}" media="(prefers-color-scheme: dark)">
						<img src="{% static 'cadmus/cafe-dark.png' %}">
					</picture>
					<p class="menu-label">General</p>
					<ul class="menu-list">
						<li><a href="{% url 'cadmus:index' %}">Home</a></li>
						<li><a href="{% url 'cadmus:create' %}">Add Entry</a></li>
						<li><a href="{% url 'cadmus:calendar' %}">Calendar</a></li>
					</ul>
					<p class="menu-label">Auth</p>
					<ul class="menu-list">
						{% if request.user.is_authenticated %}
						<li><a>{{ request.user }}</a></li>
						<li><a href="{% url 'cadmus:logout' %}">Log out</a></li>
						{% else %}
						<li><a class="button is-normal is-outlined is-danger" href="{% url 'cadmus:register' %}">
								Sign up
							</a></li>
						<li><a class="button is-normal is-outlined is-link" href="{% url 'cadmus:login' %}">
								Log in
							</a></li>
						{% endif %}
					</ul>
				</aside>
			</div>
		</div>

		<div class="index-first-par">
			<div class="has-text-centered is-size-3 has-text-danger"><a href="{% url 'cadmus:index' %}" style="color:palevioletred">CADMUS</a></div>
			<br>
			<div class="has-text-centered has-text-light is-size-1">THE SIMPLEST WAY TO WRITE YOUR THOUGHTS</div>
		  </div>

		{% block body %}

		{% endblock %}

		<footer class="footer" id="footer">
			<div class="has-text-centered">
				&copy Copyright 2023-2024 by Cadmus
				<br>
				<div>
					<a href="/">Privacy</a>
					<span>|</span>
					<a href="/">Terms and Conditions</a>
					<span>|</span>
					<a href="/">Cookies Policy</a>
				</div>
				<a href="https://www.github.com/cesia-cora/cadmus" target="_blank">
					<picture>
						<source srcset="{% static 'cadmus/github-night.png' %}" media="(prefers-color-scheme: dark)">
						<img class="mt-2" src="{% static 'cadmus/github-icon.png' %}">
					</picture>
				</a>
			</div>
		</footer>
		<script src="{% static 'cadmus/index.js' %}"></script>

		<script>
			function openNav() {
				document.getElementById("mySidepanel").style.width = "250px";
			}
			function closeNav() {
				document.getElementById("mySidepanel").style.width = "0";
			}
		</script>
</body>

</html>