{% extends "cadmus/layout.html" %}
{% load static %}

{% block title %}
Log in | Cadmus - Personal Diary
{% endblock %}

{% block body %}
<div class="main">
  {% if message %}
  <article class="message is-warning">
    <div class="message-header">
      <p>Warning</p>
      <button class="delete" onclick="closeBtn()" aria-label="delete"></button>
    </div>
    <div class="message-body">
      {{ message }}
    </div>
  </article>
  {% endif %}

  <div class="has-text-centered is-size-2" style="margin-top:10%">Login</div>
  <br>
  <div class="authentication">
    <form action="{% url 'cadmus:login' %}" method="POST">
      {% csrf_token %}
      <label class="label has-text-centered is-size-5">Username:</label>
      <input class="input is-normal" type="text" name="username" placeholder="Username">
      <label class="label has-text-centered is-size-5">Password:</label>
      <input class="input is-normal" type="password" name="password" placeholder="Password">
      <button class="button is-link" type="submit" id="btn-register">Log In</button>
    </form>
    <img src="{% static 'cadmus/casual-life-3d-girl-with-coffee.png' %}" width="300">
  </div>
</div>
{% endblock %}