{% extends "cadmus/layout.html" %}
{% load static %}

{% block title %}
    Update entry | Cadmus - Personal Diary
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<div class="title is-4 title-template has-text-centered is-uppercase">Update this entry</div>

<a class="button is-danger is-light" style="margin-left:2%;margin-top:1%;" href="{% url 'cadmus:entry' entry.slug %}">&#8592 Back to entry</a>
<br>
<br>

<div class="container-create">
<form action="" method="POST">
    {% csrf_token %}

    <label class="label is-size-5">Title:</label>
    <p class="is-size-6">Maximum length of 200 characters.</p>
    {{ edit_form.title }}
    <hr>
    <label class="label is-size-5">Slug:</label>
    <p class=" is-size-6">Maximum length of 200 characters. This will be your entry URL.</p>
    {{ edit_form.slug }}
    <hr>
    <label class="label is-size-5">Content:</label>
    <p class="is-size-6">No length limits.</p>
    {{ edit_form.content }}
    <div style="margin-left:30%;">{{ edit_form.media }}</div>
    <input type="submit" class="button is-warning" value="Update entry">
</form>
</div>

{% else %}

<div class="box is-size-4" id="box-404">
    Uh oh! We don't think you're supposed to see this content...
    <br>Register or log in to start creating and viewing your entries!
  </div>

  <img src="{% static 'cadmus/casual-life-3d-v-sign.png' %}" width="250" id="img-404">
{% endif %}

{% endblock %}